/.DS_Store
/redaction/biblio.log
/redaction/dhp_draft_july2016-mpgraph.mp
/redaction/dhp_draft_july2016.bbl
/redaction/dhp_draft_july2016.blg
/redaction/dhp_draft_july2016.tdo
/redaction/dhp_draft_july2016.top
/redaction/dhp_draft_july2016.tui
/redaction/dhp_july2017.aux
/redaction/dhp_july2017.log
/redaction/dhp_july2017.out
*.synctex
/redaction/dhp_july2017.synctex
/redaction/dhp_sept2016.synctex.gz
/redaction/Presentations/SeminaireIrvine/slides_Irvine.aux
/redaction/Presentations/SeminaireIrvine/slides_Irvine.log
/redaction/Presentations/SeminaireIrvine/slides_Irvine.nav
/redaction/Presentations/SeminaireIrvine/slides_Irvine.out
/redaction/Presentations/SeminaireIrvine/slides_Irvine.snm
/redaction/Presentations/SeminaireIrvine/slides_Irvine.synctex.gz
/redaction/Presentations/SeminaireIrvine/slides_Irvine.toc
/redaction/slides_ETSG.synctex.gz
/redaction/.DS_Store
/redaction/Presentations/.DS_Store
/redaction/Presentations/DEGIT_Conference/~$eech DEGIT_v1.docx
/redaction/Presentations/SeminaireIrvine/.DS_Store
/redaction/Presentations/SeminaireLEDa_Sept2016/.DS_Store
dhp_july2017.blg
_temp.pdf
*.blg
