/.DS_Store
/redaction/biblio.log
/redaction/dhp_draft_july2016-mpgraph.mp
/redaction/dhp_draft_july2016.bbl
/redaction/dhp_draft_july2016.blg
/redaction/dhp_draft_july2016.tdo
/redaction/dhp_draft_july2016.top
/redaction/dhp_draft_july2016.tui
/redaction/dhp_july2017.aux
/redaction/dhp_july2017.log
/redaction/dhp_july2017.out
*.synctex
/redaction/dhp_july2017.synctex
/redaction/dhp_sept2016.synctex.gz
/redaction/Presentations/SeminaireIrvine/slides_Irvine.aux
/redaction/Presentations/SeminaireIrvine/slides_Irvine.log
/redaction/Presentations/SeminaireIrvine/slides_Irvine.nav
/redaction/Presentations/SeminaireIrvine/slides_Irvine.out
/redaction/Presentations/SeminaireIrvine/slides_Irvine.snm
/redaction/Presentations/SeminaireIrvine/slides_Irvine.synctex.gz
/redaction/Presentations/SeminaireIrvine/slides_Irvine.toc
/redaction/slides_ETSG.synctex.gz
/redaction/.DS_Store
/redaction/Presentations/.DS_Store
/redaction/Presentations/DEGIT_Conference/~$eech DEGIT_v1.docx
/redaction/Presentations/SeminaireIrvine/.DS_Store
/redaction/Presentations/SeminaireLEDa_Sept2016/.DS_Store
dhp_july2017.blg
_temp.pdf
*.blg
*.bbl
/redaction/dhp_july2017.bbl
*.log
/redaction/.dhp_draft_july2016.bbl.icloud
/redaction/.dhp_draft_july2016.blg.icloud
/redaction/.dhp_draft_july2016.synctex.gz.icloud
/redaction/.dhp_draft_july2016.tdo.icloud
/redaction/.dhp_draft_july2016.top.icloud
/redaction/.dhp_draft_july2016.tui.icloud
/redaction/.dhp_july2017.out.icloud
/redaction/.dhp_july2017.synctex.gz.icloud
/redaction/.dhp_sept2016.synctex.gz.icloud
/redaction/.dhp_travail.bbl.icloud
/redaction/.dhp_travail.blg.icloud
/redaction/.dhp_travail.out.icloud
/redaction/.dhp_travail.synctex.gz.icloud
/redaction/.online_appendix_travail.synctex.gz.icloud
/redaction/.slides_ETSG.synctex.gz.icloud
/redaction/.submission_JoEG_DHP.bbl.icloud
/redaction/.submission_JoEG_DHP.blg.icloud
/redaction/.submission_JoEG_DHP.synctex.gz.icloud
/redaction/.TC_new.blg.icloud
/redaction/.TC_new.synctex.gz.icloud
/redaction/dhp_travail.aux
/redaction/Presentations/SeminaireIrvine/.slides_Irvine.nav.icloud
/redaction/Presentations/SeminaireIrvine/.slides_Irvine.snm.icloud
/redaction/Presentations/SeminaireIrvine/.slides_Irvine.synctex.gz.icloud
/redaction/submission_JoEG_DHP.aux
/redaction/TC_new.aux
*.out
onlineA.aux
onlineA.lot
onlineA.spl
onlineA.toc
note_secondstage.synctex
